@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding: 0;
}
body{
  max-width: 1800px;
  margin:0 auto;
  min-width: 275px;
  overflow-x: hidden;
  min-height: 100vh;
}
