@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
}
:root{
  --Anim: 2;
}
body{
  background-color: black;
  color:white;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1800px;
}
.movie-list{
  display: flex;
  align-items: center;
  gap:2.2rem;
  overflow-x:scroll;
  height: 200px;
  overflow-y:hidden;
  flex-basis: 300px;
}

.movie-list::-webkit-scrollbar{
  appearance: none;
  height: 0;
}
.movie-list::-webkit-scrollbar-track{
  height: 0;
}
section{
  position: relative;
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.trailer-video{
  position: absolute;
  width: 100%;
  bottom: -0.3rem;
}


.clbtn{
 
  position: absolute;
  left:0;
  top:0;
  text-align: center;
  display: flex;
  right: 0;
  justify-content: center;
  align-items: center;
}
.clbtn p{
  cursor: pointer;
  width: max-content;
  padding: 0.3rem 1.5rem;
  border: 2px solid white;
}
.trailerX{
  display: none;
}
.trailerCome{
  display: block;
}
.movie-only{
  position: relative;
}
.movie-only img{
  width: 200px;
}
.movie-only:hover{
  --Anim : 10px;
  cursor: pointer;
  transform: scale(0.95);
  transition: transform 0.4s 0.2s;
}

main{
  padding: 3rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap:5.5rem;
}
header{
  position: relative;
  height: 570px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 9rem;
}
.movie-only p{
  position: absolute;
  bottom: var(--Anim);
  transition: bottom 0.5s;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.475);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:1rem;
  text-align: center;
 
}
nav{
  z-index: 10;
  box-sizing: border-box;
  width:100% ;
  display: flex;
  justify-content: space-between;
  top:0;
  padding: 1rem 0.5rem;
}
nav h1{
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 900;
  color: rgb(213, 0, 0);
}
ul{
  list-style: none;
  display: flex;
  gap:0.3rem;
}
button{
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border: none;
  color:white;
  background-color: transparent;
  cursor: pointer;
}

ul li:nth-last-of-type(1) button{
  background-color: red;
  border-radius: 0.2rem;
}
.detail{
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding:1rem;
  padding-left: 2rem;
  gap:1rem;
  flex:2;
}
header:after{
  content: "";
  width:100%;
  top:0;
  bottom: 0;
  background: linear-gradient(380deg,black,transparent 60%);
  position: absolute;
}
.detail p{
  color:white;
  max-width: min(42rem , 70vw);
  font-size: 1.3rem;
}
.detail p:first-of-type{
  color:rgb(197, 197, 197);
  font-size: 1rem;
}
.detail h1{
  font-size: 3rem;
}
.detail ul{
  gap:2rem;
}
.detail ul li button{
  background-color: white;
  font-weight: bold;
  color:black;
  width: 100%;
}
.detail ul li:nth-of-type(2) button{
  background-color: transparent;
  color:white;
  border:1px solid white;

}