@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}

.top {
  background-color: rgb(8, 27, 75);
  color: rgb(214, 220, 234);
}
.mid {
  background-color: rgb(255, 255, 255);
  color: rgb(36, 51, 90);
}
li , img{
  cursor: pointer;
  padding: 0.23rem 0.46rem;
  border-radius: 0.3rem;
}
nav li:hover{
  background-color: rgb(214, 220, 234);
}
.top li:hover{
  color: rgb(255, 255, 255);
}