@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

.top {
  background-color: rgb(8, 27, 75);
  color: rgb(214, 220, 234);
}
.mid {
  background-color: rgb(255, 255, 255);
  color: rgb(22, 41, 90);
}
li,
img {
  cursor: pointer;
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
}
nav li:hover {
  background-color: rgb(214, 220, 234);
}
.top li:hover {
  color: rgb(255, 255, 255);
}
h1 {
  font-family: "Epilogue", sans-serif;
}
.first {
  background-color: rgb(0, 105, 255);
}
footer ul li ul li {
  padding: 0;
  cursor: pointer;
}
.footer-icon li{
  padding: 0;
}
.footer-icon li img{
  padding: 0;
  min-width: max-content;
}
.footer-icon li img:hover{
  background-color: rgb(146, 222, 241);
}
.shadow-box{
  box-shadow: -3px 12px 19px -6px rgba(49, 49, 49, 0.57);
}
.shadow-card{
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.256);
}
.customers ul li{
  box-shadow: 0px 0px 2px 2px rgba(136, 136, 136, 0.166);
  background-color: white;
  display: flex;
  width: 180px;
  padding: 2px 4px;

}
.first-list ul:first-of-type{
  transform: translateX(-100%);
  animation: run 15s 0s linear infinite ;
}
.first-list ul:nth-of-type(2){
  transform: translateX(100%);
animation: back 15s 0s linear infinite;

}
.second-list ul:first-of-type{
  transform: translateX(100%);
  animation: run-second 20s 0s linear infinite ;
}
.second-list ul:nth-of-type(2){
  transform: translateX(-100%);
animation: back-second 20s 0s linear infinite;
animation-fill-mode: forwards;
}
@keyframes run {
  from{
    transform: translateX(100%);
  }
}
@keyframes back{
  to{
    transform: translateX(-100%);
  }
}
@keyframes run-second {
  from{
    transform: translateX(-100%);
  }
}
@keyframes back-second{
  to{
    transform: translateX(100%);
  }
}